name: Build and Release Z Music

on:
  push:
    tags:
      - 'v*' # Se activa cuando subes un tag como v1.0.0

jobs:
  build:
    runs-on: windows-latest # Necesario para compilar MSIX

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Build APK (Android)
      run: flutter build apk --release

    - name: Build MSIX (Windows)
      run: |
        # Usamos PowerShell para ejecutar el comando de MSIX
        dart run msix:create

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          build/app/outputs/flutter-apk/app-release.apk
          build/windows/x64/runner/Release/zmusic.msix
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
